@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'poppins';
}
.login {
  position: fixed;
  top: 0px;
  left: -100%;
  transition: 1s;
}
.login.active {
  left: 7%;
}
.create {
  position: fixed;
  top: -40px;
  left: -100%;
  transition: 1s;
}
.create.active {
  left: 0%;
}
input:focus{
  box-shadow: none !important;
  outline: none;
}

@media screen and (max-width:768px) {
  .login.active {
    left: 1%;
  }
}